@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-recipe-primary: #3563e9;
  --color-recipe-secondary: #90a3bf;
  --color-recipe-third: #1a202c;
  --color-recipe-fourth: #ed3f3f;
  --color-recipe-fifth: #ffffff;
  --color-recipe-sixth: #f6f7f9;
  --color-recipe-seventh: #94a7cb;
}

body {
  @apply font-jakarta text-[var(--color-recipe-third)];
}

main {
  @apply bg-[var(--color-recipe-sixth)];
}

.recipes-list-container {
  @apply py-10 w-max mx-auto;

  h1 {
    @apply text-center text-3xl mb-6;
  }
}

.recipes-list,
.users-list {
  @apply flex flex-col gap-5 items-center md:grid md:grid-cols-2 md:items-start lg:grid-cols-3 xl:grid-cols-4 break-words;
}

.recipe-preview-card {
  @apply w-[300px] text-[var(--color-recipe-secondary)] rounded-lg bg-[var(--color-recipe-fifth)] overflow-hidden;

  .recipe-preview-card__image-container {
    @apply w-full h-[200px];

    .recipe-preview-card__image {
      @apply object-cover w-full;
    }
  }

  .recipe-preview-card__info {
    @apply flex gap-4 mt-2 px-4;

    span {
      @apply flex items-center gap-1;
    }
  }

  .recipe-preview-card__title {
    @apply text-2xl text-gray-800 font-bold mb-2 px-4 break-words;
  }

  .recipe-preview-card__line {
    @apply mx-4;
  }

  .recipe-preview-card__type {
    @apply mb-3 px-4;
  }
}

.pagination {
  @apply flex justify-between p-4;

  button {
    @apply cursor-pointer;
  }
}

.error {
  @apply text-[var(--color-recipe-fourth)] w-max max-w-3/4 mx-auto pt-20;
}

.error-fallback {
  @apply w-max mx-auto mt-20;

  pre {
    @apply text-[var(--color-recipe-fourth)];
  }

  button {
    @apply cursor-pointer border px-2 rounded;
  }
}

.login-page,
.register-page {
  @apply w-[300px] sm:w-[625px] mx-auto py-20;
}

.user-form {
  @apply flex flex-col gap-10 rounded-[10px] px-6 py-12 bg-[var(--color-recipe-fifth)];

  h1 {
    @apply text-4xl font-bold;
  }

  .input-container {
    * {
      @apply block;
    }

    label {
      @apply w-full mb-4 font-semibold;
    }

    input {
      @apply rounded-lg bg-[var(--color-recipe-sixth)] w-full p-4 autofill:bg-[var(--colorrecipe-sixth)] autofill:duration-[5000s];
    }

    .form-input-error {
      @apply text-[var(--color-recipe-fourth)] text-sm mt-1.5 text-right pr-2;
    }
  }

  button {
    @apply bg-[var(--color-recipe-primary)] w-max mx-auto px-10 py-4 text-[var(--color-recipe-fifth)] rounded-[10px] text-xl cursor-pointer;
  }

  .form-link {
    @apply text-[var(--color-recipe-secondary)] flex flex-col gap-3;
    a {
      @apply text-[var(--color-recipe-third)] font-semibold;
    }
  }
}
